@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}
/* header section */
header{
    background-image: url(.//images/bg-header-desktop.png);
    background-repeat: no-repeat;
    min-height: 50vh;
    text-align: center;
}

header img{
    margin: 3em 0 ;
}

header h1{
    font-weight: 600;
    font-size: 40px;
}

header p{
    color: hsl(201, 11%, 66%);
    width: 45%;
    margin: 0.5em auto;
} 

button{
    height: 4em;
    width: 13em;
    border-radius: 40px;
    border-style: none;
    color: white;
    margin: 1.5em 0;
    font-weight: bold;
}

.cta-ios{
    background-color: hsl(171, 66%, 44%);
    cursor: pointer;
    margin-right: 0.5em;
}

.cta-ios:hover{
    box-shadow: 1px 1px 10px hsl(171, 66%, 44%) ;
}

.cta-mac{
    background-color: hsl(233, 100%, 69%);
    cursor: pointer;
    margin-left: 0.5em;
}

.cta-mac:hover{
    box-shadow: 1px 1px 10px hsl(233, 100%, 69%);
}

/* snippets-info section */

.keep-track{
    text-align: center;
    margin: 4em 0;
}

.keep-track h2,
.snippets-device h2
{
    font-size: 35px;
    font-weight: 400;
}

.keep-track p,
.snippets-device p
{
    width: 45%;
    margin: 1em auto;
    color: hsl(201, 11%, 66%);
}

.snippets-computer{
    display: flex;
    margin: 5em 0;
}

.mac-image{
    width: 50%;
    position: relative;
    right: 30px;
}

.specification-for-mac{
    width: 50%;   
    line-height: 2;
    margin-left: 50px;
}

.specification-for-mac h3{
    margin-top: 1.5em;
}

.specification-for-mac p{
    width: 50%;
    color: hsl(201, 11%, 66%);
}

.snippets-device{
    text-align: center;
}

.snippets-device img{
    margin: 5em 0;
}

/* snippets-tools */

.snippets-tools {
    text-align: center;
}

.tool-title{
    font-weight: 400;
    font-size: 35px;
}

.about-tool{
    color: hsl(201, 11%, 66%);
    /* margin: 1em 0; */
}

.tools{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2em 7em;
}

.tools img{
    margin: 2em 0;
}

.tools p{
    color: hsl(201, 11%, 66%);
    margin: 1em 2em;
    line-height: 1.5;
}

.partner-company{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 8em 5em;
}

.download-info{
    text-align: center;
    margin: 5em 0;
}

.download-info h2{
    font-size: 35px;
    font-weight: 400;
}

.download-info p{
    width: 42%;
    margin: 1.5em auto;
    color: hsl(201, 11%, 66%);
}

footer{
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-evenly;
    padding: 3em 0;
}

.logo img{
    width: 50%;
}

.navbar-items{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    color: hsl(210, 10%, 33%);
}

.navbar-items p:hover{
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}

.social-media{
    margin: auto 0;
}

.social-media img{
    cursor: pointer;
}

.twitter{
margin: 0 30px;
}

@media screen and (max-width:375px){

header{
    background-image: url(.//images/bg-header-mobile.png);
}

header h1{
    font-size: 35px;
    color: hsl(210, 10%, 33%);
}

header p {
    width: auto;
    padding: 0 .8em;
}

button{
    width: 85%;
    margin: 0;
    font-size: 18px;
    height: 3em;
}

.cta-ios{
    margin-right: 0;
    margin-top: 2em;
}

.cta-mac{
    margin-left: 0;
    margin-top: 1.5em;
}


.keep-track{
    text-align: center;
    margin-top: 7em;
}

.keep-track p,
.snippets-device p
{
    width: auto;
    margin: 1em auto;
    color: hsl(201, 11%, 66%);
    padding:0 1em;
    line-height: 1.5;
}

.snippets-computer{
    display: flex;
    flex-direction: column;
}

.mac-image{
    width: auto;
    position: relative;
    left: 0px;
    padding: 0 1em; 
}

.specification-for-mac{
    width: auto;
    margin: 0;
    text-align: center;
}

.specification-for-mac p{
    width: auto;
    padding: 0 1em;
    line-height: 1.5;
}

.snippets-device img{
    width: 100%;
    margin: 2.5em 0;
}

.tools{
    display: grid;
    grid-template-columns: auto ;
    margin:0;
    margin-top: 3em;
}

.partner-company{
    display: grid;
    grid-template-columns: auto;
    row-gap:4em;
    margin: 5em 0;
}

.download-info p{
    width: auto;
    padding: 0 1em;
    line-height: 1.5;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img{
    width: 15%;
}

.navbar-items{
    display: grid;
    grid-template-columns: auto;
    margin: 3em 0;
}

}
